/* 
    Document   : home
    Created on : Dec 9, 2013, 2:58:26 PM
    Author     : gboyegadada
    Description:
        Purpose of the stylesheet follows.
*/


.le-livre {
    height: 465px;
    width: 305px;
    display: inline-block;
    
    background: url(../images/3d-book.jpg) no-repeat top center;
    margin-left: 50px;
}





#splash-001.tile-content-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    
    width: 340px;
    height: 400px;
    
    float: right;
    margin-right: 60px;
    margin-top: 50px;
    
    z-index: 1;
}

#splash-001 ul.slide-strip {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    z-index: 10;
    
    width: 1880px;
    height: 400px;
}


#splash-001 ul.slide-strip li.slide {
    display: block;
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    
    float: left;
    
    background: none;
    width: 340px;
    height: 400px;
    
    overflow: hidden;
}


.slide-content-wrapper {
    display: block;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px 0px;
    
    background-size: cover;
    width: 340px;
    height: 400px;
        
    font-family: 'CommercialScript';
    font-size: 1.4em;
    color: #777;
}




.announcements {
    display: block;
    width: 40%;
    height: 340px;
    margin-left: 50px;
    margin-top: 60px;
    
    border: solid 2px #777;
    
    background: #FAF5E9;
}


.post {
    padding-bottom: 5px !important; 
    padding-bottom: 15px;
    width: 90%;
    
    font-size: 71%;
    margin: 0px 10px 10px 15px;
}


.post .content { 
    padding: 5px 0 0 5px; 
    line-height: 145%; 
    overflow: hidden; 
}

.post .content p { 
    margin-bottom: 10px 
    
}

.post .content h3 {
    font-size: 150%;
}


.post .content strong {
    font-size: 120%;
}

.post .content a {
    text-decoration: none;
    color: #333;
}


.post .content a:hover {
    text-decoration: underline;
}