/* 
    Created on : Sep 18, 2015, 5:55:14 AM
    Author     : Gboyega Dada <gboyega@fpplabs.com>
*/


body {
	font: 90%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background:#222;
	text-align:center; 

        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        font-smoothing: antialiased;

        
        min-width: 960px;
        
        /*
        max-width: 1024px;
        */
        
	margin: 0 auto;
	padding: 0;
	color: #000;
}


div.splash {
    display: block;
    position: relative;
    width: 960px;
    height: 480px;
    
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
    
    overflow: hidden;
    margin: 20px auto;
    padding: 0;
}



div.splash > img {
    display: block;
    position: relative;
    width: 960px;
    height: 480px;
    margin: 0 auto;
    padding: 0;
}





.footer {
    padding: 10px 0px;
    margin: 0px auto;
    margin-bottom: 30px;
    background: none;
    position: relative;/* this gives IE6 hasLayout to properly clear */
    clear: both; /* this clear property forces the .container to understand where the columns end and contain them */

    width: 960px;
    height:140px;

    /* border:dotted 1px #f00; */
	
}

.footer-row {
    display: block;
    width: 950px;
    min-height: 10px;
    height: auto;
    padding: 20px 5px 40px 5px;
    
    font-size: 75%;
    color: #555;
}

.footer-row a {
    color: #555;
}

.footer-row p {
    padding: 0px 0px;
}

.footer-links {
    font-size: 110%;
}


.footer-row.last-child {
    border-top: dashed 1px #774;
}