/* 
    Document   : contact
    Created on : Sep 22, 2013, 5:46:35 AM
    Author     : gboyegadada
    Description:
        Purpose of the stylesheet follows.
*/


#page-title {
    width: 60%;
}

#footer-ankara-disc {
    background:url(../images/ankara-07b.png);
}


#contact-form-wrap {
    position: relative;
    display: block;
    width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 30px 0px 30px 0px;
    
    background: #444;
    
    border-radius:20px;	
    -moz-border-radius:20px;	
    -webkit-border-radius:20px;
}

#contact-form {
    position: relative;
    display: block;
    width: 349px;
    height: auto;
    padding-bottom: 50px;
    
    margin: 0 auto;
    color: #fff;
    font-size: 75%;
    
    
}

   
   #contact-form .server-response {
        display: none;
        width: 290px;
        color: #c9b7a2;
        text-align: left;
        vertical-align: middle;
   }
   
   
   #contact-form .server-response p {
        padding: 0px 0px;
        margin: 0px 0px;
        
        padding-bottom: 30px;
        margin-bottom: 30px;
        
        border-bottom: dotted 1px #fff;

        color: #fff;
        font-size: 100%;
   }
   




   
.form-field {
    border: solid 1px #fff;
    background: none;
    color: #fff;
    padding:4px;
    margin-bottom:15px;
    width:290px;
   }
   
.form-field:focus {
    border: solid 1px #fff;
    background: #fff;
    color: #000;
   }

   
.form-title {
   margin-bottom:4px;
   color: #fff;
   font-weight:bold;
   }
   
   
.submit-container {
   margin:8px 0;
   text-align:right;
   width: 290px;
   }
   
   
.submit-button {
   border: 1px solid #fff;
   background: none;
   color: #fff;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
   
.submit-button:hover {
   }
   
.submit-button:active {
   }
   
   
   
   
   
   