/* 
    Document   : home
    Created on : Dec 9, 2013, 2:58:26 PM
    Author     : gboyegadada
    Description:
        Purpose of the stylesheet follows.
*/



.welcome-banner-wrap {
    display: block;
    position: relative;
    
    width: 90%;
    min-height: 30px;
    
    margin: 0 auto!important;
    margin-bottom: 50px!important;
    padding-bottom: 50px;
    border-bottom: solid 2px #333;
}

.welcome-banner-wrap a {
    text-decoration: none;
}


.welcome-banner {
    display: block;
    position: relative;
    
    width: 600px;
    height: 400px;
    
    margin: 0 auto!important;
    
    background-color: #000;
    border: 5px solid #fff;
    overflow: hidden;
    padding: 0;
    

    box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    -moz-border-box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    -webkit-border-box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);

    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    

    background:url(../images/0DAL9794-1.jpg) no-repeat; 
    background-size: contain; 
    
    text-align: right;
    color: #333;
}


.welcome-banner h2 {
    font-weight: normal;
    font-size: 200%;
    margin: 0 0;
}

.welcome-banner div {
    position: relative;
    
    width: 94%;
    height: 40px;
    
    text-align: right;
    
    
    font-family: 'CommercialScript';
}


div#welcome-to-my-site {
    position: absolute;
    top: 180px;
    right: 40px;
}

div#click-to-learn-about {
    position: absolute;
    bottom: 40px;
    right: 0px;
    
    width: 100%;
    
    background: #555;
    color: #ddd;
    font-size: 90%;

    /*
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .40);
    -moz-border-box-shadow: 0px 2px 4px rgba(0, 0, 0, .40);
    -webkit-border-box-shadow: 0px 2px 4px rgba(0, 0, 0, .40);

    */
}

div#click-to-learn-about h2 {
    margin-right: 20px;
}


div.welcome-banner-quote-wrap {
    position: relative;
    display: block;
    width: 340px;
    height: 340px;
    padding-right: 0px;
    margin-top: 0px;
    
    float: none;
}


div.welcome-banner-quote-wrap .quote {
    font-size: 1.4em;
}

div.welcome-banner-quote-wrap .quotee {
    font-size: 1em;
}



#ankara-splash {
    height:155px; 
    width: 155px;
    overflow: hidden;
    
    display: block;

    
    background:url(../images/ankara-03b.png);
    z-index:0; 

    position: absolute;
    bottom: 30px;
    right: 40px;
    
}



.le-livre {
    height: 465px;
    width: 305px;
    display: inline-block;
    
    margin-left: 50px;
    
    
}


.le-livre.togb {
    background: url(../images/3d-book.jpg) no-repeat top center;
}

.le-livre.bmcsa {
    height: 445px;
    width: 280px;
    margin: 0 40px 0 50px;
    background: url(../images/bmcsa-cover.jpg) no-repeat top center;
    background-size: cover;
    box-shadow: 6px 6px 20px rgba(0,0,0,0.4);
    border-radius: 5px;
}


.book-page-anchor {
    display: inline-block;
    float: left;
}



#tree {
    height: 500px;
    width: 300px;
    
    
    background:url(../images/tree.png) no-repeat; 
    background-size: contain; 
    
    position: absolute;
    top: -373px;
    right: 20px;
    
    display: none;
}


#indiegogo-wrap {
    height: auto;
    width: 220px;
    border-top: solid 5px #EB1478;
    
    
    position: absolute;
    bottom: 340px;
    right: 20px;
    
    display: block;
    
}

#indiegogo-wrap > div.slog {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 80%;
    
    color: #777;
}



.book-details-slider.tile-content-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    
    width: 340px;
    height: 340px;
    
    float: right;
    margin-right: 60px;
    margin-top: 0px;
    
    
    z-index: 1;
}

.book-details-slider ul.slide-strip {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    z-index: 10;
    
    width: 1880px;
    height: 340px;
}


.book-details-slider ul.slide-strip li.slide {
    display: block;
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    
    float: left;
    
    background: none;
    width: 340px;
    height: 340px;
    
    overflow: hidden;
}


.book-details-slider .slide-content-wrapper {
    display: block;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px 0px;
    
    background-size: cover;
    width: 340px;
    height: 340px;
        
    font-family: 'CommercialScript';
    font-size: 1.4em;
    color: #777;
}




.announcements {
    display: block;
    width: 310px;
    height: 280px;
    margin-left: 50px;
    margin-top: 50px;
    
    border: solid 2px #777;
    
    background: #FAF5E9;
}


.announcements img {
    display: none;
}


.announcements > h3 {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.post {
    padding-bottom: 5px !important; 
    padding-bottom: 15px;
    width: 90%;
    
    font-size: 71%;
    margin: 0px 10px 10px 15px;
}


.post .content { 
    padding: 5px 0 0 5px; 
    line-height: 145%; 
    overflow: hidden; 
}

.post .content p { 
    margin-bottom: 10px 
    
}

.post .content h3 {
    font-size: 150%;
}


.post .content strong {
    font-size: 120%;
}

.post .content a {
    text-decoration: none;
    color: #333;
}


.post .content a:hover {
    text-decoration: underline;
}




#splash-002.tile-content-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    
    width: 310px;
    height: 260px;
    
    float: right;
    margin-right: 0px;
    margin-top: 0px;
    
    
    z-index: 1;
}

#splash-002 ul.slide-strip {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    z-index: 10;
    
    width: 1880px;
    height: 260px;
}


#splash-002 ul.slide-strip li.slide {
    display: block;
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    
    float: left;
    
    background: none;
    width: 310px;
    height: 260px;
    
    overflow: hidden;
}


#splash-002 .slide-content-wrapper {
    display: block;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px 0px;
    
    background-size: cover;
    width: 310px;
    height: 260px;
        
    /*
    font-family: 'CommercialScript';
    font-size: 1.4em;
    color: #777;
    */
}







/*

MAIN SHOUTBOX SLIDER

*/





#shoutbox-slider.tile-content-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    
    width: 800px;
    height: 550px;
    
    margin: 0 0;
    padding: 0 0;
    
    
    z-index: 1;
}

#shoutbox-slider > ul.slide-strip {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    z-index: 10;
    
    width: 1880px;
    height: 550px;
}


#shoutbox-slider > ul.slide-strip > li.slide {
    display: block;
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    
    float: left;
    
    background: none;
    width: 800px;
    height: 550px;
    
    overflow: hidden;
}


#shoutbox-slider > ul.slide-strip > li.slide > .slide-content-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px 0px;
    
    background-size: cover;
    width: 800px;
    height: 550px;
        
}

#shoutbox-slider .synopsis {
    position: absolute;
    display: none;
    width: 690px;
    height: 80%;
    border: solid 1px #aaa;
    background-color: rgba(30,35,30,0.97);
    color: #eee;
    border-radius: 7px;
    padding: 10px 35px;
    margin: 0px 20px;
    z-index: 100;
    box-shadow: 6px 6px 20px rgba(0,0,0,0.4);
}

#shoutbox-slider .synopsis .body {
    position: relative;
    display: block;
    width: 500px;
    float: right;
}

#shoutbox-slider .synopsis p {
    font-weight: normal;
    font-size: 15px;
    font-family: 'times new roman';
    margin-top: 0;
}

#shoutbox-slider .synopsis .le-livre {
    width: 150px;
    height: 200px;
    float: left;
    margin: 0 25px 100px 0;
}

#shoutbox-slider .synopsis .le-livre.togb {
    width: 150px;
    height: 200px;
    background-size: contain;
    border-radius: 5px;
}




/*

REVIEW SLIDER

*/


#review-slider.tile-content-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    
    width: 340px;
    height: 340px;
    
    margin: 10px 15px 0 0;
    padding: 0 0;
    
    
    z-index: 1;
}

#review-slider > ul.slide-strip {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    z-index: 10;
    
    width: 1880px;
    height: 550px;
}


#review-slider > ul.slide-strip > li.slide {
    display: block;
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    
    float: left;
    
    background: none;
    width: 340px;
    height: 340px;
    
    overflow: hidden;
}


#review-slider > ul.slide-strip > li > .slide-content-wrapper {
    display: block;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px 0px;
    
    
    background-size: cover;
    width: 340px;
    height: 340px;
        
}

#review-slider > ul.slide-strip > li > .slide-content-wrapper p {
    font-family: 'CommercialScript';
}


