/*
    Document   : home
    Created on : Dec 9, 2013, 2:58:26 PM
    Author     : gboyegadada
    Description:
        Purpose of the stylesheet follows.
*/


.le-livre {
    height: 465px;
    width: 305px;
    display: inline-block;
    
    margin-left: 50px;

    float: left;
}

.le-livre.togb {
    background: url(../images/3d-book.jpg) no-repeat top center;
}

.le-livre.bmcsa {
    height: 445px;
    width: 280px;
    margin: 0 40px 0 50px;
    background: url(../images/bmcsa-cover.jpg) no-repeat top center;
    background-size: cover;
    box-shadow: 6px 6px 20px rgba(0,0,0,0.4);
    border-radius: 5px;
}



.wpsc_product_price {
	display: inline-block;
	font-size: 80%;
	margin-bottom: 10px;
	padding: 5px;
}

.wpsc_product_price p, .wpsc_product_price p {
	margin:0;
}

.wpsc_product_price span.oldprice {
	text-decoration:line-through;
        color: #666;
}


#footer-ankara-disc {
    background:url(../images/ankara-03b.png);
}


#splash-001.tile-content-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;

    width: 340px;
    height: 400px;

    float: right;
    margin-right: 60px;
    margin-top: 50px;

    z-index: 1;
}

#splash-001 ul.slide-strip {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;

    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    z-index: 10;

    width: 1880px;
    height: 400px;
}


#splash-001 ul.slide-strip li.slide {
    display: block;
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;

    float: left;

    background: none;
    width: 340px;
    height: 400px;

    overflow: hidden;
}


.slide-content-wrapper {
    display: block;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px 0px;

    background-size: cover;
    width: 340px;
    height: 400px;

    font-family: 'CommercialScript';
    font-size: 1.4em;
    color: #777;
}




.announcements {
    display: block;
    width: 40%;
    height: 340px;
    margin-left: 50px;
    margin-top: 60px;

    border: solid 2px #777;

    background: #FAF5E9;
}


.post {
    padding-bottom: 5px !important;
    padding-bottom: 15px;
    width: 90%;

    font-size: 71%;
    margin: 0px 10px 10px 15px;
}


.post .content {
    padding: 5px 0 0 5px;
    line-height: 145%;
    overflow: hidden;
}

.post .content p {
    margin-bottom: 10px

}

.post .content h3 {
    font-size: 150%;
}


.post .content strong {
    font-size: 120%;
}

.post .content a {
    text-decoration: none;
    color: #333;
}


.post .content a:hover {
    text-decoration: underline;
}



div.online-stores {
    display: block;
    width: 80%;
    min-height: 200px;
    margin: 0 auto;
    margin-top: 40px;

    border-top: solid 2px #333;
}

div.online-stores > div {
    display: inline-block;
    width: 46%;
    padding-left: 15px;
    height: 200px;
    margin-top: 10px;
    float: left;
}

div.online-stores > div#paypal-shop {
    border-right: dotted 2px #aaa;
}


div.physical-stores {
    display: block;
    width: 80%;
    min-height: 200px;
    margin: 0 auto;
    margin-top: 40px;

    border-top: solid 2px #333;
}


#main-content-wrap img {
        background: none;
        border: none;
        overflow: hidden;
        padding: 0;
        margin: 10px;
        display: inline-block;

        box-shadow: none;
        -moz-border-box-shadow: none;
        -webkit-border-box-shadow: none;

        border-radius:0px;
        -moz-border-radius:0px;
        -webkit-border-radius:0px;
}





ul.physical-stores-list{
    display: block;
    list-style: none;

    width: 100%;
    min-height: 200px;
    margin: 0 auto;
    margin-top: 40px;

    padding: 0;
}


ul.physical-stores-list li {
    list-style: none;
    padding: 0px!important;

    margin-bottom: 20px;
    font-size: 80%;

}


ul.physical-stores-list h6 {
    font-weight: bold;
    font-size: 90%;
    margin-top: 40px;

    border-bottom: dotted 1px #888;
    padding-bottom: 10px;
    width: 90%;
}
