/* 
    Document   : press
    Created on : Dec 9, 2013, 2:58:26 PM
    Author     : gboyegadada
    Description:
        Purpose of the stylesheet follows.
*/


.inner-content-wrap {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;

    font-size: 90%;
}


#page-title {
    width: 100%;
}


#footer-ankara-disc {
    background:url(../images/ankara-01b.png);
}


.announcements {
    display: block;
    width: 40%;
    height: 340px;
    margin-left: 50px;
    margin-top: 60px;
    
    border: solid 2px #777;
    
    background: #FAF5E9;
}


.post {
    position: relative;
    padding-bottom: 5px !important; 
    padding-bottom: 15px;
    width: 100%;
    
    font-size: 71%;
    margin: 0px 10px 10px 15px;
    
    border-bottom: dashed 1px #aaa;
}


.post .content { 
    padding: 5px 0 0 5px; 
    line-height: 145%; 
    overflow: hidden; 
}

.post .content p { 
    margin-bottom: 10px 
    
}

.post .content h3 {
    font-size: 150%;
}


.post .content strong {
    font-size: 120%;
}

.post .content a {
    text-decoration: none;
    color: #333;
}


.post .content a:hover {
    text-decoration: underline;
}


.post .content img { 
    background-color: #fff;
    border: 8px solid #fff;
    overflow: hidden;
    padding: 0;
    margin: 10px;
    display: block;

    box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    -moz-border-box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    -webkit-border-box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);

    border-radius:8px;	
    -moz-border-radius:8px;	
    -webkit-border-radius:8px;
}