/* 
    Document   : home
    Created on : Dec 9, 2013, 2:58:26 PM
    Author     : gboyegadada
    Description:
        Purpose of the stylesheet follows.
*/


.inner-content-wrap {
       width: 85%;
       min-height: 300px;
       margin: 0 auto;
       margin-bottom: 20px;

       font-size: 90%;
   }


.announcements {
    display: block;
    width: 40%;
    height: 340px;
    margin-left: 50px;
    margin-top: 60px;
    
    border: solid 2px #777;
    
    background: #FAF5E9;
}


.post {
    position: relative;
    padding-bottom: 5px !important; 
    padding-bottom: 15px;
    width: 100%;
    
    font-size: 71%;
    margin: 0px 10px 10px 15px;
    
    border-bottom: dashed 1px #aaa;
}


.post .content { 
    padding: 5px 0 0 5px; 
    line-height: 145%; 
    overflow: hidden; 
}

.post .content p { 
    margin-bottom: 10px 
    
}

.post .content h3 {
    font-size: 150%;
}


.post .content strong {
    font-size: 120%;
}

.post .content a {
    text-decoration: none;
    color: #333;
}


.post .content a:hover {
    text-decoration: underline;
}