/* 
    Document   : home
    Created on : Dec 9, 2013, 2:58:26 PM
    Author     : gboyegadada
    Description:
        Purpose of the stylesheet follows.
*/



.post {
    padding-bottom: 5px !important; 
    padding-bottom: 15px;
    width: 90%;
    
    font-size: 71%;
    margin: 0px 10px 10px 15px;
}


.post .content { 
    padding: 5px 0 0 5px; 
    line-height: 145%; 
    overflow: hidden; 
}

.post .content p { 
    margin-bottom: 10px 
    
}

.post .content h3 {
    font-size: 150%;
}


.post .content strong {
    font-size: 120%;
}

.post .content a {
    text-decoration: none;
    color: #333;
}


.post .content a:hover {
    text-decoration: underline;
}







/*-----SINGLE PRODUCTS PAGE-----*/
#single_product_page_container {
	width:80%;	
	position:relative;
        
        margin: 0 auto;
}

.single_product_display {
	margin-bottom:20px;
	padding:10px;
	position:relative;	
}

.imagecol {
	margin-right:5px;
/* 	width:25%; */
	float:left;	
	position:relative;
        display: inline-block;
}

.single_product_display .imagecol img.product_image {
	background-color:#efefef;
	border:1px solid #ccc;	
}


.wpsc_buy_button_container{
	width: 90%!important;
}


.wpsc_product_price {
    width: 300px!important;
}