

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'JaneAusten';
    src: url('../fonts/JaneAusten/JaneAust.eot');
    src: url('../fonts/JaneAusten/JaneAust.eot?#iefix') format('embedded-opentype'),
         url('../fonts/JaneAusten/JaneAust.woff') format('woff'),
         url('../fonts/JaneAusten/JaneAust.ttf') format('truetype'),
         url('../fonts/JaneAusten/JaneAust.svg#JaneAusten') format('svg');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'GlamorBold';
    src: url('../fonts/Glamor/Glamor-Bold.eot');
    src: url('../fonts/Glamor/Glamor-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glamor/Glamor-Bold.woff') format('woff'),
         url('../fonts/Glamor/Glamor-Bold.ttf') format('truetype'),
         url('../fonts/Glamor/Glamor-Bold.svg#GlamorBold') format('svg');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'CommercialScript';
    src: url('../fonts/commersial_script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



@font-face {
  font-family: 'JSL-AncientItalic';
  src: url('../fonts/jsl-ancient/JSL-AncientItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/jsl-ancient/JSL-AncientItalic.woff') format('woff'), url('../fonts/jsl-ancient/JSL-AncientItalic.ttf')  format('truetype'), url('../fonts/jsl-ancient/JSL-AncientItalic.svg#JSL-AncientItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'JSL-Ancient';
  src: url('../fonts/jsl-ancient/JSL-Ancient.eot?#iefix') format('embedded-opentype'),  url('../fonts/jsl-ancient/JSL-Ancient.woff') format('woff'), url('../fonts/jsl-ancient/JSL-Ancient.ttf')  format('truetype'), url('../fonts/jsl-ancient/JSL-Ancient.svg#JSL-Ancient') format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face{
    font-family:briteicons;
    src:url(../fonts/Briteicons/briteicons.eot);
    src:url(../fonts/Briteicons/briteicons.eot#iefix) format("embedded-opentype"),url(../fonts/Briteicons/briteicons.woff) format("woff"),url(../fonts/Briteicons/briteicons.svg#briteiconsregular) format("svg"),url(../fonts/Briteicons/briteicons.ttf) format("truetype");
}


[class^=briteicons-],[class*=" briteicons-"]{
    font-family:briteicons;
    font-weight:400;
    font-style:normal;
    text-decoration:inherit;
    -webkit-font-smoothing:antialiased;
    display:inline;
    vertical-align: middle;
}

.briteicons-eventbrite-logo:before{content:"\f200"; color:#ff8000; font-size: 420%; }
.briteicons-eventbrite-badge:before{content:"\f201"; color:#ff8000; }


body {
    background: #000;
    background: url('../img/bg/afrique-bg2b.jpg') no-repeat;
    background-size: cover;
    padding-bottom: 120px;
    margin-bottom: 0px;
    
    color: #fff;
    
     -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
     -o-font-smoothing: antialiased;
     font-smoothing: antialiased;
}






.image-cache-wrap {
    display: none;
    height: 0px;
    width: 0px;
	
}

.image-cache {
    display: none;
    height: 0px;
    width: 0px;
}

.scrollto { 
    position: absolute;
    top: -100px;
    left: -1000px;
    visibility: collapse!important; 
    height: 0px!important; 
    width: 0px!important; 
    padding: 0 0!important; 
    margin: 0 0!important; 
}

hr {
    border-top-color: #860;
}




.main-bg {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    
    height: 625px;
    width: 100%;
    
    background: url('../img/bg/afrique-bg5.jpg') no-repeat;
    background-size: cover;
    
    z-index: -1;
}

.header-content {
    height: 120px;
}


.logo-wrap {
    display: block;
    position: relative;
    color: #c90;
    
    padding: 0px 0px;
    font-size: 180%;
    
    text-align: right;
}

header {
    z-index: 2;
    margin-bottom: 10px;
}
header .bg {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 2;
  
    background: url('../img/torn-paper2.png') repeat-x;
    background-size: 300px auto;
    
    background-position-y: -25px;
  
  min-width: 100%;
  height: 100px;

    opacity:.8; 
    -moz-opacity:.8; 
    filter:Alpha(opacity=80);
    

}


.main-logo {
    display: inline-block;
    position: relative;
    width: 600px;
    height: 65px;
    z-index: 4;
    
    margin-top: 20px;
    margin-right: 20px;
    
    background: url('../img/togb-logo-gold.png') no-repeat top right;
    background-size: contain;
    
    
    text-transform: uppercase;
}


.main-logo-stage-play {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 50px;
    z-index: 4;
    
    margin-top: 10px;
    
    left: -60px;
    
    background: url('../img/the-stage-play.png') no-repeat;
    background-size: contain;
    
    
    opacity:.6; 
    -moz-opacity:.6; 
    filter:Alpha(opacity=60);
}


.gold-beads {
    display: none;
    background: none;
    position: absolute;
    top: -110px;
    left: -450px;
    width: 400px;
    height: 155px;
    z-index: 5;
    
    
    margin-top: 20px;
    
    /*
    background: url('../img/gold-beads-1343b.png') no-repeat;
    background-size: contain;
    */
}

.brand-line {
    color: #fff;
    font-size: 80%;
    font-weight: bold;
    
    text-shadow: 0 0 4px rgba(0,0,0,.7);
    text-align: right;
    padding-right: 20px;
}





.togb-book-icon {
    display: block;
    position: relative;
    width: 200px;
    height: 255px;
    z-index: 5;
    
    
    
    background: url('../img/3D-book-transparent.png') no-repeat;
    background-size: contain;
    
}

.main-content {
    position: relative;
    height: 600px;
    
    padding: 0 0;
    
}


.player-control {
    display: inline-block;
    
    padding: 3px 6px;
    
    background: #000;
    border-radius:3px;	
    -moz-border-radius:3px;	
    -webkit-border-radius:3px;

    -moz-box-shadow:0 0 6px rgba(0,0,0,.4);
    -webkit-box-shadow:0 0 6px rgba(0,0,0,.4);
    -box-shadow:0 0 6px rgba(0,0,0,.4);
    
    margin-left: 20px;
}

.player-control a {
    color: #fff;
}

.player-control a:hover {
    text-decoration: none;
}

.player-control a img {
    margin-top: 3px;
}



.main-content > .bg {
  position: absolute;
  display: none;
  top: 0px;
  left: 0;
  z-index: -1;
  
  background: #000;
  
  min-width: 100%;
  height: 86%;
  
  
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;

    opacity:.7; 
    -moz-opacity:.7; 
    filter:Alpha(opacity=70);
}



.le-livre {
    height: 350px;
    width: 240px;
    display: inline-block;
    
    
    
    background: url('../img/3D-book-transparent.png') no-repeat;
    background-size: contain;
    
    margin: 30px 0px;
    margin-right: 10px;
    
    float: left;
    
    
}









/*

SIDEBAR MENU

*/

.sidebar {
    z-index: 2;
}

.sidebar ul {
    list-style: none; 
    padding: 0px 0px!important;
    
    width: 80%;
    margin-top: 30px;
}

.sidebar ul li { 
    list-style: none; 
    display: block; 
    margin: 0px 0px; 
    padding: 0 0!important; 
    
    font-size: 180%;
    font-family: 'JSL-AncientItalic';
    /* text-transform: uppercase; */
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    margin: 4px 4px!important;
}


.sidebar ul li > a {
    position: relative;
    display: block;
    color: #fff; /* #c90; */
    background: none; /* rgba(0, 0, 0, .7); */
    
    padding: 0px 15px;
    
    text-shadow: 0 0 4px rgba(0,0,0,.7);
}


.sidebar ul li > a:hover {
    text-decoration: none;
}


.sidebar > ul > li > a.active {
    color: #000;
    background: #eb0;
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
    
    text-shadow: none;
    -moz-box-shadow:0 0 6px rgba(0,0,0,.4);
    -webkit-box-shadow:0 0 6px rgba(0,0,0,.4);
    -box-shadow:0 0 6px rgba(0,0,0,.4);
}


.sidebar > ul > li > a:after {
    position: absolute;
    right: 10px;
    top: 8px;
    content: '\e080';
    display: none;
    
    
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 60%;
    
    color: transparent;

    
    border: none;
    margin-left: 15px;
}




.sidebar > ul > li > a:hover:after {
    
    display: inline-block;
    color: #fff;
}

.sidebar > ul > li > a.active:after {
    
    display: inline-block;
    color: #000;
}








/*

AJAX CONTENT

*/



.ajax-content-frame {
    position: relative;
    display: block;
    width: 100%;
    height: 545px;
    
    margin: 0px auto;
    margin-top: 0px;
    background: none;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    padding-top: 20px;
}




.ajax-content-frame img.loading-icon {
    height: 120px;
    width: 120px;
    
    display: inline-block;
    
    opacity:.5; 
    -moz-opacity:.5; 
    filter:Alpha(opacity=50); 
}



.ajax-content-frame hr {
    margin-top: 0px;
}


.ajax-content-header {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    
    margin: 0px 30px;
    
    color: #fff;
    font-weight: normal;
    font-size: 220%;
    font-family: 'JSL-Ancient';
    
    
    /*
    font-family: 'JaneAusten';
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    */
}



.ajax-content-body {
    display: block;
    position: relative;
    font-size: 90%;
    
    color: #fff;
    text-align: justify;
    
    
    margin: 0px 30px;
}


.ajax-content-body p {
    margin: 0px 0px 15px 0px;
}


.ajax-content-body img {
    width: 100%;
    height: auto;
}









/* ############ PAGE SPECIFIC CSS ################# */


/*

HOME

*/



.home-screen-wrap {
    display: none;
    position: absolute;
    
    
    width: 1200px;
    height: 600px;
    
    padding: 0 0;
    padding-left: 0px;
    
    z-index: 0;
}

.home-screen-wrap > .bg {
  position: absolute;
  display: block;
  top: 0px;
  right: 10px;
  z-index: -1;
  
  background: #000;
  
  min-width: 70%;
  height: 320px;
  
  
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;

    opacity:.7; 
    -moz-opacity:.7; 
    filter:Alpha(opacity=70);
}



.about-the-play {
    position: relative;
    font-size: 110%;
    
    text-align: center;
    margin-top: 40px;
    padding-right: 40px;
    
    /*
    text-shadow: 0 0 4px rgba(0,0,0,.7);
    */
    color: #fff;
    
    width: 500px;
    height: 400px;
    
    float: right;
    
    z-index: 4;
}


.about-the-play .togb {
    font-size: 120%;
    font-style: italic;
}

.about-the-play em {
  color: #fa0; 
}


.about-the-play #author-anchor {
    font-size: 120%;
    font-weight: bold;
    
}

.about-the-play #author-anchor:hover {
    text-decoration: none;
    border-bottom: dashed 1px #2A6496;
}





.showing {
    
    position: relative;
    width: 100%;
    height: auto;
    z-index: 5;
    
    padding-top: 20px;
    
    /*
    font-size: 120%;
    font-family: 'CommercialScript';
    */
    
    
  color: #fa0; 
    
}

.showing > .date {
    text-align: left;
}

.showing > .venue {
    text-align: left;
}


.showing > .bg {
    display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  
    background: url('../img/torn-paper2.png') repeat-x;
    background-size: 300px auto;
    
    background-position-y: -25px;
  
  min-width: 100%;
  height: 100px;

    opacity:.8; 
    -moz-opacity:.8; 
    filter:Alpha(opacity=80);
    

}







.page-views {
    font-size: 70%;
}

.page-views .count {
    
    color: #fff;
    font-weight: normal;
    font-size: 320%;
    font-family: 'CommercialScript';
    
    border-bottom: dashed 2px #fff;
}

.la-fille {
    position: absolute;
    
    left: 300px;
    bottom: 0px;
    width: 520px;
    height: 700px;
    
    background: url('../img/togb.24.png') no-repeat;
    background-size: contain;
    
    z-index: 0;
    
}

#splash-002.tile-content-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    
    width: 580px;
    height: 450px;
    
    float: left;
    margin-left: 30px;
    margin-top: 0px;
    
    
    z-index: 1;
}

#splash-002 ul.slide-strip {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    z-index: 10;
    
    width: 1880px;
    height: 450px;
}


#splash-002 ul.slide-strip li.slide {
    display: block;
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    
    float: left;
    
    background: none;
    width: 580px;
    height: 450px;
    
    overflow: hidden;
}


#splash-002 .slide-content-wrapper {
    display: block;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px 0px;
    
    background-size: cover;
    width: 580px;
    height: 450px;
        
    /*
    font-family: 'CommercialScript';
    font-size: 1.4em;
    color: #777;
    */
}










#myCarousel {
    position: relative;
    top: 0px;
    left: 0px;
    
    z-index: 1;
}



.slide-img {
    
    height: 460px;
    
    border: solid 7px #fff;
    
    box-shadow:0px 2px 20px rgba(0,0,0,.5);
    -webkit-box-shadow:0px 2px 20px rgba(0,0,0,.5);
    -moz-box-shadow:0px 2px 20px rgba(0,0,0,.5);
}




.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  text-align: left;
  
  padding: 0 0px 80px 100px;
  
  
}


.carousel-caption > .bg {
  position: absolute;
    display: none;
  bottom: 0;
  left: 0;
  z-index: -1;
  
  background: #000;
  
  min-width: 100%;
  height: 100%;
  
  
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(70%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 70%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 70%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 70%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 70%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */

    opacity:.5; 
    -moz-opacity:.5; 
    filter:Alpha(opacity=50);
  
}




.carousel-indicators {
    margin-bottom: 10px;
}


/* ================= CAROUSEL FADE ============= */


.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .3s;
  -o-transition: opacity ease-in-out .3s;
  -webkit-transition: opacity ease-in-out .3s;
  transition: opacity ease-in-out .3s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .3s;
  -o-transition: opacity ease-in-out .3s;
  -webkit-transition: opacity ease-in-out .3s;
  transition: opacity ease-in-out .3s;
  z-index:2;
}
























.the-play {
    height: 350px;
    width: 240px;
    display: inline-block;
    
    background: url(../img/play-002.jpg) no-repeat top center;
    background-size: cover;
    margin: 30px 0px;
    margin-left: 40px;
    
    float: left;
    
    border: solid 5px #fff;
    
    
    box-shadow:0px 2px 20px rgba(0,0,0,.5);
    -webkit-box-shadow:0px 2px 20px rgba(0,0,0,.5);
    -moz-box-shadow:0px 2px 20px rgba(0,0,0,.5);
    
    -webkit-transform: scale(1) rotate(-10deg); 
    transform: scale(1) rotate(-10deg); 
    -moz-transform: rotate(-10deg); 
    -ms-transform: scale(1) rotate(-10deg); 
    -o-transform: scale(1) rotate(-10deg); 
    
}


.auditions-wrap {
    width: 250px;
    height: auto;
    
    
    font-size: 300%;
    color: #c90;
    
    float: left;
    margin-top: 100px;
    margin-left: 30px;
}


.auditions-wrap .date {
    font-size: 60%;
    color: #fff;
    
    border-top: dashed 1px #c90;
}






/*

CASTING 

*/


.galleria{ width: 800px; height: 440px; background: #000; }


.casting-flyer {
    display: block;
    height: 890px;
    width: 600px;
    
    margin-bottom: 40px;
    
    
    
    background: url(../img/casting-call.jpg) no-repeat top center;
    background-size: contain;
    
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
}






/*

SPONSORS (PAGE)

*/


.sponsors-main-wrap {
    
}


.sponsors-main-wrap .sponsors-logo {
    width: 200px;
    height: 115px;
    
    margin-top: 10px;
    
    background-color: #fff;
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
}


.sponsors-main-wrap > .row {
    margin-bottom: 40px;
}





/*

GET TICKETS

*/


ul.where-to-buy-tickets {
    list-style: none;
    padding: 0 0;
    margin: 20px 20px 20px 10px;
    
    color: #fff;
}



ul.where-to-buy-tickets > li {
    list-style: none;
    padding: 10px 0;
    margin: 0 0;
    
    margin-bottom: 20px;
    border-top: solid 2px #fff;
}

.where-to-buy-tickets .where {
    font-size: 150%;
    font-weight: bold;
    color: #fa0;
}


.where-to-buy-tickets a {
    display: inline-block;
    position: relative;
    
    text-decoration: none;
    border: none;
    
    opacity:.8; 
    -moz-opacity:.8; 
    filter:Alpha(opacity=80); 
    
    -webkit-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}


.where-to-buy-tickets a:hover {
    text-decoration: none;
    border: none;
    
    opacity:1; 
    -moz-opacity:1; 
    filter:Alpha(opacity=100); 
}

.buy-online {
    
}


.buy-online .label {
    position: relative;
    top: -10px;
    
    font-size: 160%;
    color: #fff;
}




ul.ticket-pricing {
    display: block;
    list-style: none;
    padding: 0 0;
    margin: 10px 0 0 0;
    
    color: #fff;
    
    
}



ul.ticket-pricing > li {
    list-style: none;
    padding: 10px 20px;
    margin: 5px 5px;
    
    background: #000;
    color: #fff;
    
    font-size: 130%;
    
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
    float: left;
}


ul.ticket-pricing > li .price {
    color: #ff8000;
    font-size: 140%;
    
    margin-left: 6px;
}

ul.ticket-pricing > li .note {
    display: block;
    color: #ff8000;
    font-size: 70%;
    
}

/*

PAGE TO STAGE


*/


.buttons-wrap {
    position: relative;
    width: 400px;
    height: 370px;
}


.buttons-wrap > .bg {
  position: absolute;
  display: none;
  left: 0;
  z-index: -1;
  
  background: url(../img/links_bg.png) no-repeat;
  background-size: cover;
  
  min-width: 498px;
  height: 370px;

    opacity:1; 
    -moz-opacity:1; 
    filter:Alpha(opacity=100); 
    
    border-radius:20px;	
    -moz-border-radius:20px;	
    -webkit-border-radius:20px;
    
}




.video-thumb {
    position: relative;
    height: 120px;
    width: 160px;
    
    float: left;
    margin: 10px 10px;
    
    border: solid 1px #428bca;
}

.video-thumb-anchor {
    display: inline-block;
}

.video-thumb .bg {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  z-index: -1;
  
  background: #000; 
  

    height: 100%;
    width: 100%;

    opacity:1; 
    -moz-opacity:1; 
    filter:Alpha(opacity=100); 
    
    
}

.video-thumb .label {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  z-index: -1;
  
  background: #428bca; 
  color: #fff;
  font-size: 90%;
  
    min-height: 10px;
    height: auto;
    width: 100%;
    overflow: hidden;
    overflow-style: panner;
    
    
    border-radius:0px;	
    -moz-border-radius:0px;	
    -webkit-border-radius:0px;
}


.video-thumb-anchor:hover .video-thumb {
    outline: solid 1px #fff;
}




/*
.video-thumb#vt001 .bg {
  background: url(../img/trailer.jpg) no-repeat;
  background-size: cover;
}


.video-thumb#vt002 .bg {
  background: url(../img/tv01.jpg) no-repeat;
  background-size: cover;
}


.video-thumb#vt003 .bg {
  background: url(../img/tv02.jpg) no-repeat;
  background-size: cover;
}

.video-thumb#vt004 .bg {
  background: url(../img/tv03.jpg) no-repeat;
  background-size: cover;
}
*/




/*

REVIEWS

*/


#splash-001 .review {
    text-align: center;
}

#splash-001 .review:before {
    content: '\201C';
    font-size: 250%;
    
    line-height: 1em;
}

#splash-001 .review:after {
    content: '\201D';
    font-size: 250%;
    line-height: 1em;
}





#splash-001 .by {
    display: block;
    text-align: center;
    
    font-size: 170%;
}


#splash-001.tile-content-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    
    width: 300px;
    height: 420px;
    
    
    margin-right: 0px;
    margin-top: 10px;
    
    
    z-index: 1;
}

#splash-001 ul.slide-strip {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    z-index: 10;
    
    width: 1880px;
    height: 420px;
}


#splash-001 ul.slide-strip li.slide {
    display: block;
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    
    float: left;
    
    background: none;
    width: 300px;
    height: 420px;
    
    overflow: hidden;
}


#splash-001 .slide-content-wrapper {
    display: block;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px 0px;
    
    background-size: cover;
    width: 300px;
    height: 420px;
        
    font-family: 'JSL-AncientItalic';
    font-size: 1.4em;
    color: #fff;
}









/*

NEWS

*/


.news-wrap {
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
}


.news-item {
    list-style: none;
    margin: 0px 0px 40px 0px;
    
    border-top: dashed 1px #c90;
    padding-top: 10px;
}

.news-item > a {
    
}

.news-item > a:hover {
    text-decoration: none;
}

.news-item .title {
    font-size: 160%;
    font-weight: bold;
    color: #fff;
    
    margin-bottom: 5px;
}


.news-item > .date {
    font-size: 90%;
    color: #fff;
    
}


.news-item > .body {
    font-size: 100%;
    color: #fff;
    margin-top: 10px;
}





/*

GALLERY

*/


.gallery-grid {
    background: #000;
    
    width: 680px;
    
    margin: 0 auto;
    
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
}

.gallery-grid .gallery-thumb {
    height: 150px;
    width: 150px;
    
    float: left;
    margin: 10px;
    
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
}



.actor-du-jour {
    position: relative;
    background: #000;
    
    /*
    background: url('../img/bg/black-Linen.png');
    */
    
    width: 680px;
    min-height: 150px;
    
    margin: 0 auto;
    
    margin-bottom: 15px;
    
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
}


.actor-du-jour .photo {
    height: 150px;
    width: 150px;
    
    float: left;
    margin: 10px;
    
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
}

.actor-du-jour .title {
    font-family: 'JSL-AncientItalic';
    font-size: 2.4em;
    color: #c90;
    
    margin-top: 15px;
    float: left;
    width: 500px;
}

.actor-du-jour .body {
    float: left;
    width: 480px;
    height: auto;
    
    margin-top: 15px;
    margin-bottom: 10px;
}


.actor-du-jour .star {
    position: absolute;
    top: 15px;
    right: 25px;
    
    font-size: 200%;
    text-align: center;
    line-height: 170%;
    color: #c90;
    
    border-radius: 50%;
    height: 40px;
    width: 40px;
    
    border: dashed 1px #c90;
    
    float: right;
}



.actor-du-jour .long {
    display: none;
}







/*


SOCIAL


*/

.social-cache {
    display: none;
}

.social-feed-wrap {
    position: relative;
    width: 300px;
    height: 500px;
    
    float: left;
    margin-right: 0px;
}


.social-feed-wrap.twitter {
    margin-right: 20px;
}


.social-feed-wrap .bg {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  z-index: -1;
  
  background: #fff;
  
  min-width: 100%;
  height: 100%;

    opacity:.6; 
    -moz-opacity:.6; 
    filter:Alpha(opacity=60);
}







/*

BOOTSTRAP MODALS


*/



#myModalLabel, 
#MainModal .modal-title {
     color: #000;
}


.modal-backdrop {
  background-color: #000!important;
}

.modal-backdrop.fade.in
{
    opacity:.8; 
    -moz-opacity:.8; 
    filter:Alpha(opacity=80);
}


div.online-stores {
    position: relative;
    display: block;
    width: 80%;
    min-height: 200px;
    height: auto;
    margin: 0 0;
    margin-top: 0px;
    
    border-top: none;
    
    font-size: 150%;
    color: #000;
}


div.online-stores .togb-book-icon {
    float: left;
}

div.online-stores > div {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-left: 15px;
    height: auto;
    margin-top: 10px;
    float: left;
    
    padding-top: 20px;
}



div.online-stores > div > .bg {
  position: absolute;
  display: block;
  left: 0;
  z-index: -1;
  
  background: #000;
  
  width: 100%;
  height: 100%;

    opacity:.4; 
    -moz-opacity:.4; 
    filter:Alpha(opacity=40); 
    
    border-radius:20px;	
    -moz-border-radius:20px;	
    -webkit-border-radius:20px;
    
}


/* SHOP LINKS */


#shop-banner {
    display: block;
    position: relative;
    
    width: 100%;
    height: 120px;
    
    background: url(../img/play.jpg) 0px -70px no-repeat;
    background-size: cover;
    
}


.now-available-at {
    display: inline-block;
    position: relative;
    top: 0px;
    
    width: 270px;
    height: auto;
    
    margin-top: 40px;
    margin-right: 20px;
    
    float: left;
}


.amazon-button-color {
    display: inline-block;
    position: relative;
    top: -10px;
    
    width: 120px;
    height: 40px;
    
    background: url(../img/amazon_btn.png) top center no-repeat;
    background-size: contain;
    
}


.amazon-kindle-button-color {
    display: inline-block;
    position: relative;
    top: -10px;
    
    width: 150px;
    height: 44px;
    
    background: url(../img/amazon-kindle-btn.png) top center no-repeat;
    background-size: contain;
    
}



.amazon-uk-button-color {
    display: inline-block;
    position: relative;
    top: -10px;
    
    width: 120px;
    height: 40px;
    
    background: url(../img/amazon-uk-logo.png) top center no-repeat;
    background-size: contain;
    
}


.okadabooks-button-color {
    display: inline-block;
    position: relative;
    top: -10px;
    
    width: 120px;
    height: 40px;
    
    background: url(../img/okadabooks-btn.png) top center no-repeat;
    background-size: contain;
    
}



.patabah-bookstore-button-color {
    display: inline-block;
    position: relative;
    top: -4px;
    margin-left: 4px;
    
    width: 120px;
    height: 40px;
    
    background: url(../img/patabah-bookstore-btn.png) top center no-repeat;
    background-size: contain;
    
}




.call-to-action-anchor {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    
    font-size: 100%;
    text-align: left;
    
    /*
    -webkit-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    */
    
}


.call-to-action-anchor:hover {
    text-decoration: none;
    color: #fff;
}


.call-to-action-anchor span {
    display: inline-block;
    font-size: 170%;
    margin-bottom: 20px;
}


.now-available-at.home {
}


.now-available-at.home .call-to-action-anchor {
    text-align: center;
    font-size: 150%;
    width: 300px;
}



.now-available-at.home .call-to-action-anchor span {
    border-bottom: solid 1px #c90;
    
}



/*

FOOTER

*/


.footer {
    position: relative;
    font-size: 70%;
    color: #A19D89;
    
    margin-top: 0px;
    
    /* background: url(../img/bg/classy_fabric.png) repeat; */
    height: 120px;
    margin-bottom: 0px;
    
    
}

.footer a {
    color: #A19D89;
    text-decoration: none;
    border-bottom: none;
}


.footer a:hover {
    color: #999;
    text-decoration: none;
}


.footer hr {
    margin: 0px 0px 10px 0px;
}



#social-links-wrap {
    text-align: right;
}


.footer .container.a {
    margin-top: -150px;
}



#social-links-wrap .beads-icon {
    width: 60px;
    height: 60px;
    
    background: url(../img/beads-icon-01.png) top center no-repeat;
    background-size: contain;
    
    float: right;
    margin-right: 10px;
}


#social-links-wrap .title {
    display: inline-block;
    font-size: 120%;
    font-weight: bold;
    
    color: #c90;
    
    height: auto;
    width: 165px;
    
    float: right;
    margin-right: 5px;
    
    
    text-shadow: 0 0 4px rgba(0,0,0,.7);
}



#social-links-wrap .title > .togb {
    font-size: 150%;
}

#social-links { 
    display: block; 
    width: auto; 
    
    float: right;
}

#social-links > a { 
    display: inline-block; 
    margin: 3px; 
}

#social-links img {
    height: 30px;
    width: 30px;
}





/*

SIGNATURE

*/



#signature {
    position: relative;
    text-align: left;
    
    
    display: block;
    
    
    
    padding-left: 0px;
    margin-top: 0px;
    
    color: #a80;
    
    /*
    opacity:.8; 
    -moz-opacity:.8; 
    filter:Alpha(opacity=80);
    */
}

#signature a {
    color: #a80;
}

#signature a:hover {
    text-decoration: none;
    border-bottom: dashed 1px #a80;
}

#signature .company {
    font-size: 120%;
}



.footer-quote {
    display: block;
    
    width: 750px;
    height: 150px;
    /*
    position: absolute;
    top: -195px;
    right: 20px;
    margin-top: 45px;
    margin-bottom: 100px;
    */
    
    position: relative;
    float: right;
    
}


.footer-quote p {
    font-family: 'CommercialScript';
    font-style: oblique;
    font-size: 2.3em;
    text-align: right;
    
    color: #fff;
    margin-top: 80px;
    padding-bottom: 20px;
    
    text-shadow: 0 0 4px rgba(0,0,0,1);
}


.quote-image {
    display: inline-block;
    float: right;
    margin-right: 30px;
    
    width: 150px;
    height: 150px;
    
    
    /* 
    background: url('../img/quote-pix/dossou-4.png') no-repeat;
    background-size: cover;
     */
}






.double-quotes:before {
    content: '\201C';
}

.double-quotes:after {
    content: '\201D';
}




/*

LOGO SLIDESHOW

*/

.sponsors-wrap {
    position: relative;
    
    width: auto;
    height: 52px;
    margin-top: 0px;
    
    
    float: left;
}

.sponsors-wrap .le-label {
    text-align: left;
    color: #fff;
    
    width: 100%;
    margin-bottom: 10px;
    
    font-size: 150%;
}

#sponsors-slider.tile-content-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    
    width: 340px;
    height: 100px;
    
    float: right;
    margin-right: 0px;
    margin-top: 0px;
    
    
    z-index: 1;
}

#sponsors-slider ul.slide-strip {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    z-index: 10;
    
    width: 1880px;
    height: 100px;
}


#sponsors-slider ul.slide-strip li.slide {
    display: block;
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    
    float: left;
    
    background: none;
    width: 340px;
    height: 100px;
    
    overflow: hidden;
}


#sponsors-slider .slide-content-wrapper {
    display: block;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px 0px;
    
    background-size: cover;
    width: 340px;
    height: 100px;
        
    font-family: 'CommercialScript';
    font-size: 1.4em;
    color: #777;
    
}


.sponsor-logo {
    height: 100px;
    width: 200px;
    
    padding: 5px 5px;
    
    border: solid 4px #fff;
    
    /*
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    */
}







/* Sticky footer styles
--------------------------------------------------
html {
  position: relative;
  min-height: 100%;
}
body {
    
  margin-bottom: 120px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  
  height: 120px;
}

 */












/*

:horizontal – The horizontal pseudo-class applies to any scrollbar pieces that have a horizontal orientation.

:vertical – The vertical pseudo-class applies to any scrollbar pieces that have a vertical orientation.

:decrement – The decrement pseudo-class applies to buttons and track pieces. It indicates whether or not the button or track piece will decrement the view's position when used (e.g., up on a vertical scrollbar, left on a horizontal scrollbar).

:increment – The increment pseudo-class applies to buttons and track pieces. It indicates whether or not a button or track piece will increment the view's position when used (e.g., down on a vertical scrollbar, right on a horizontal scrollbar).

:start – The start pseudo-class applies to buttons and track pieces. It indicates whether the object is placed before the thumb.

:end – The end pseudo-class applies to buttons and track pieces. It indicates whether the object is placed after the thumb.

:double-button – The double-button pseudo-class applies to buttons and track pieces. It is used to detect whether a button is part of a pair of buttons that are together at the same end of a scrollbar. For track pieces it indicates whether the track piece abuts a pair of buttons.

:single-button – The single-button pseudo-class applies to buttons and track pieces. It is used to detect whether a button is by itself at the end of a scrollbar. For track pieces it indicates whether the track piece abuts a singleton button.

:no-button – Applies to track pieces and indicates whether or not the track piece runs to the edge of the scrollbar, i.e., there is no button at that end of the track.

:corner-present – Applies to all scrollbar pieces and indicates whether or not a scrollbar corner is present.

:window-inactive – Applies to all scrollbar pieces and indicates whether or not the window containing the scrollbar is currently active. (In recent nightlies, this pseudo-class now applies to ::selection as well. We plan to extend it to work with any content and to propose it as a new standard pseudo-class.)

*/

.black-scroller::-webkit-scrollbar {
    width: 12px;
}
 
.black-scroller::-webkit-scrollbar-track {
    border-radius: 0px;
	background-color: #222;
}
 
.black-scroller::-webkit-scrollbar-thumb {
	background-color: #c80;
	border:none;
	
}

.black-scroller::-webkit-scrollbar-thumb:hover {
	background-color:#c80;
}

.black-scroller::-webkit-scrollbar-track-piece  { /* 4 */
	background-color: transparent;
        border-top: solid 2px #c80;
        border-bottom: solid 2px #c80;

 }

.black-scroller::-webkit-scrollbar-thumb:window-inactive {
	background-color:#c80;
}


.black-scroller::-webkit-scrollbar-button       { 
	background-color:#c80;
    border-radius: 0px;
 }
 
.black-scroller::-webkit-scrollbar-arrow {
	background-color:#a80;
	color:#c80;
	 
 }
 
.black-scroller::-webkit-scrollbar-corner       { /* 6 */ }
.black-scroller::-webkit-resizer                { /* 7 */ }









@-webkit-keyframes blink {  
  from { opacity: 1.0; }
  to { opacity: 0.2; }
}

.blink {
  -webkit-animation-name: blink;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: .5s; 
}



@-webkit-keyframes blink-2 {  
  from { 
	opacity: 0.2;
  	-webkit-animation-timing-function: ease-in;
	 }
  50% { 	
  	opacity: 1;
  	-webkit-animation-timing-function: ease-in;
	 }

  to { 	
  	opacity: 0.2;
  	-webkit-animation-timing-function: ease-out;
	 }

}

.blink-2 {
  -webkit-animation-name: blink-2;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 4s; 
}





/*


@media (max-width: 767px) {

        .sidebar ul {
            width: 100%;
        }
        
        .gold-beads {
            display: none;
        }

    
}
@media (min-width: 768px) and (max-width: 991px) {
    
        .sidebar ul {
            width: 100%;
        }
        
        .gold-beads {
            display: none;
        }
    
    
}
@media (min-width: 992px) and (max-width: 1199px) {


    
}



@media (min-width: 1200px) {
 
    
    
}

*/



