
@font-face {
  font-family: 'JSL-AncientItalic';
  src: url('JSL-AncientItalic.eot?#iefix') format('embedded-opentype'),  url('JSL-AncientItalic.woff') format('woff'), url('JSL-AncientItalic.ttf')  format('truetype'), url('JSL-AncientItalic.svg#JSL-AncientItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
