
@font-face {
  font-family: 'JSL-Ancient';
  src: url('JSL-Ancient.eot?#iefix') format('embedded-opentype'),  url('JSL-Ancient.woff') format('woff'), url('JSL-Ancient.ttf')  format('truetype'), url('JSL-Ancient.svg#JSL-Ancient') format('svg');
  font-weight: normal;
  font-style: normal;
}
