<div class="ajax-content-header">
    About the TOGB Play
    
</div>


<div class="ajax-content-body">



    <div class="portrait" style="background: url('img/babatunde.jpg'); background-repeat:  no-repeat; background-size: 150px auto; background-position: center top; ">&nbsp;</div>
                        
        <p>
            Babatunde is currently the Managing Director of Humphrey Metrology Solutions Limited and possesses many years of experience spanning oil & gas, financial services, private equity and management consulting.
        </p>

        <p>
            Before Joining Humphrey Metrology, Babatunde was the founding Managing Director of Xirant Limited, a downstream oil and gas importer, bulk petroleum products trader and supplier to stellar organizations such as Total Nigeria Plc., Oando Plc., and Linetrale Gas to name a few. As the pioneering MD, he grew the company’s turnover to over NGN4Billion per annum.
        </p>

        <p>
            Previously, he was the most senior investment manager for GroFin, a multi-national private equity investor, SME Financier and fund manager where he financed and managed several logistics and oil & gas companies. Babatunde was part of the pioneering team that set up the Nigeria subsidiary of the firm and invested over US$30Million in various Small and Medium Scale Enterprises in different sectors of the economy.
        </p>

        <p>
            Prior to joining GroFin, Babatunde was Head, Corporate Development for Oando Marketing, Oando Plc’s downstream subsidiary where he spear-headed the development of product, storage and sales strategies. He also has extensive Corporate Planning and Performance Management experience supporting and monitoring all Oando’s SBUs as a Strategy & Planning Manager within the Group office.
        </p>
        

        <p>
            Babatunde was also part of a 9-man team, at Standard Trust Bank Plc. (Now UBA) that acquired a local bank and transformed it into Standard Trust Bank Ghana, the first fully-owned Nigerian Bank in Ghana (Now UBA Ghana).
        </p>


        <p>
            He possesses a BSC Economics from Obafemi Awolowo University, Ile-Ife and an MBA, with a focus on Strategy and Change Management from the University of Wales, Cardiff.
        </p>

</div>

