<div class="ajax-content-header">
    
    
</div>


<div class="ajax-content-body">


              
       


    <div class="galleria">
            <img src="photo1.jpg">
            <img src="photo2.jpg">
            <img src="photo3.jpg">
        </div>

          

          
        

</div>




<script type="text/javascript">
    
    Galleria.loadTheme('js/vendor/galleria/themes/classic/galleria.classic.min.js');
    Galleria.run('.galleria');
    
</script>