
<div class="ajax-content-body">
        

    
                    <div id="splash-002" class="tile-content-wrapper" >
                    <ul class="slide-strip" >
    
                            <li class="slide" >

                              <div class="slide-content-wrapper" style="background: none; " >
                              

                                    <div class="le-livre">&nbsp;</div>


                                    <div class="now-available-at home">
                                        <br /><br /><br />
                                        
                                        <a class="call-to-action-anchor" href="http://www.amazon.com/Thread-Gold-Beads-Nike-Campbell-Fatoki/dp/0988193205/ref=sr_1_1?ie=UTF8&amp;qid=1353952661&amp;sr=8-1&amp;keywords=thread+of+gold+beads" target="_blank">
                                            <span>NOVEL AVAILABLE</span> <br />ON <div class="amazon-button-color">&nbsp;</div>
                                        </a>
                                    </div> 

                                  
                              </div>

                              </li>
                              
                              
                              
                            <li class="slide" >

                              <div class="slide-content-wrapper" style="background: none; " >
                              
                                    <div class="the-play">
                                        &nbsp;
                                    </div>
                                  
                                  
                                  <div class="auditions-wrap">
                                      AUDITIONS <br />
                                      
                                      <span class="date">august 2nd and 3rd</span>
                                  </div>

                                  
                              </div>

                              </li>
    
                    </ul>
                    </div>
    
    

</div>


        <script type="text/javascript">
            
       var slider01;
        
        slider01 = makeSlideshow($('#splash-002').find('.slide-strip'), {duration: 200, interval: 4000, transition: 'slide'});
                
        slider01.play(); 
                

        
            

            
        </script>

