
<!-- 
<div class="ajax-content-header">
    Page To Stage
    <br /><br />
</div>
-->

<div class="ajax-content-body">


              
       

    <div class="buttons-wrap col-md-6">
        <div class="bg">&nbsp;</div>
        
        

            <a class="video-thumb-anchor" href="javascript:void(0);" onclick="$('#bookTrailerModal').modal();">
            <div id="vt001" class="video-thumb">
                <div class="bg">&nbsp;</div>
                <div class="label">Book Trailer</div>
            </div>
            </a>
        
        
            <a class="video-thumb-anchor" href="javascript:void(0);" onclick="$('#ChannelsTVModal01').modal();">
            <div id="vt002" class="video-thumb">
                <div class="bg">&nbsp;</div>
                <div class="label">Channels TV PT1</div>
            </div>
            </a>
        
        
            <a class="video-thumb-anchor" href="javascript:void(0);" onclick="$('#ChannelsTVModal02').modal();">
            <div id="vt003" class="video-thumb">
                <div class="bg">&nbsp;</div>
                <div class="label">Channels TV PT2</div>
            </div>
            </a>
            
        
        
    </div>
    
    
    
    
    

    <div class=" col-md-5 pull-right">  
                    
                    <div id="splash-001" class="tile-content-wrapper" >
                    <ul class="slide-strip" >
                        
                    <?php

                      $idObj = get_category_by_slug('reviews'); 

                      $args = array ( 'category' => $idObj->term_id, 'posts_per_page' => 5);
                      $myposts = get_posts( $args );

                      if ( !empty($myposts) ) : ?>

                              <?php /* The loop */


                              ?>
                              <?php foreach( $myposts as $post ) : setup_postdata($post); ?>
                                    
                        <li class="slide" >

                        <div class="slide-content-wrapper" style="background: none; " >
                            
                            <?php get_template_part( 'content', 'latest' ); ?>
                            
                        </div>

                        </li>
                        
                        

                                <?php endforeach; ?>


                        <?php else : ?>
                                <?php get_template_part( 'content', 'no-announcements' ); ?>
                        <?php endif; ?>
                        


                    </ul>
                    </div>
    </div>
                    
          

    
          
        

</div>






<!-- Modal: Channels TV Interview PT01 -->
<div class="modal fade" id="ChannelsTVModal01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          
          
        <button type="button" class="close" data-dismiss="modal">Close <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Channels Book Club Interview (PT 1)</h4>
        
        <br />
        
       

        <!-- Facebook -->
        <div class="fb-like" data-href="http://www.youtube.com/embed/gnPQClbcn8Q" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
            

      </div>
      <div class="modal-body">
        <iframe width="640" height="360" src="//www.youtube.com/embed/gnPQClbcn8Q" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>
        






<!-- Modal: Channels TV Interview PT02 -->
<div class="modal fade" id="ChannelsTVModal02" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          
          
        <button type="button" class="close" data-dismiss="modal">Close <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Channels Book Club Interview (PT 2)</h4>
        

        

        <!-- Facebook -->
        <div class="fb-like" data-href="http://www.youtube.com/embed/_ZG1AYyqJDQ" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
           

        
      </div>
      <div class="modal-body">
        <iframe width="640" height="360" src="//www.youtube.com/embed/_ZG1AYyqJDQ" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>







<!-- Modal: Book Trailer -->
<div class="modal fade" id="bookTrailerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          
          
        <button type="button" class="close" data-dismiss="modal">Close <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Thread of Gold Beads Book Trailer</h4>
        
        

        <!-- Facebook -->
        <div class="fb-like" data-href="http://www.youtube.com/embed/3rWPhfVBOiE" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
           
      </div>
      <div class="modal-body">
        <iframe width="640" height="360" src="//www.youtube.com/embed/3rWPhfVBOiE" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>