

<div class="ajax-content-header">
    Shop
    
</div>

<hr>

<div class="ajax-content-body">



               
                <!-- WHERE TO BUY -->
                
                
                <div class="online-stores">
       
                    <div id="amazon-shop">
                        <div class="togb-book-icon">&nbsp;</div>
                        
                        
                        <div class="now-available-at">
                            <a class="call-to-action-anchor" href="http://www.amazon.com/Thread-Gold-Beads-Nike-Campbell-Fatoki/dp/0988193205/ref=sr_1_1?ie=UTF8&amp;qid=1353952661&amp;sr=8-1&amp;keywords=thread+of+gold+beads" target="_blank">
                                <span>BUY NOVEL</span> <br />NOW ON <div class="amazon-button-color">&nbsp;</div>
                            </a>
                        </div>
                        
                        
                        <!--
                        <a title="Buy on Kindle" href="http://www.amazon.com/dp/B00AZ3PBN8" target="_blank"><div class="amazon-kindle-button-color">&nbsp;</div></a>
                        <a title="Buy From Amazon UK" href="http://www.amazon.co.uk/Thread-Gold-Beads-Nike-Campbell-Fatoki/dp/0988193205/ref=sr_1_1?ie=UTF8&amp;qid=1353952597&amp;sr=8-1"><div class="amazon-uk-button-color">&nbsp;</div></a>
                        -->
                    </div> 
                    
                </div>

</div>

