<div class="ajax-content-header col-md-5">
    Get Tickets
    
</div>


<div class="ajax-content-body">

    
    <ul class="where-to-buy-tickets col-md-12">
        
        <li>
            <span class="where">Publick Playhouse</span> <br />
            5445 Landover Rd, Cheverly, MD 20784<br />
            Phone: (301) 277-1710
            
        </li>
        
        <li>
            
            <a href="http://www.eventbrite.com/e/thread-of-gold-beads-stage-play-tickets-12665901051?aff=es2" target="_blank">
            <div class="buy-online"><span class="label">Buy online at</span><span class="briteicons-eventbrite-logo"></span></div>
            </a>
        </li>
        
        
    </ul>
    

    <ul class="ticket-pricing clearfix col-md-6">
        <li>Advance tickets <span class="price">$30</span></li>
        <li>Group ticket of 10 or more tickets at  <span class="price">$25</span></li>
        <li>VIP/Preferred seating at <span class="price">$50</span> <span class="note"> ** With access to backstage and networking reception.</span></li>
    </ul>



</div>

