{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.email.html.twig' %}


{% block content %}

Inquiry by {{ email.Customer.fullname }}.
<br><br>


<strong>Email:</strong> {{ email.Customer.email }}<br />
<strong>Subject:</strong> {{ email.Customer.subject }}<br />

<p>
<strong>Question/Comment:</strong><br /> {{ email.Customer.about }}<br />
</p>




<br><br><br>




<div style="border-top: 1px solid #ddd; font-size: 90%;">
    <br>
    &copy; SID Energy Oil & Gas.
</div>


{% endblock content %}