/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.main-nav-wrap {
    float: right;
}

/*
.logo-text-wrap {
    float: right;
    text-align: right;

    .logo-text {
        background-position: center right;
        height: 80px;

        margin-top: 20px;
    }

}
*/


.header {
    #inner-header {
        .logo-wrap {
            width: 25%;
            float: left;

            .logo-symbol {
                display: inline-block;
                margin: 0 0;
            }

        }

    }


}




.slogan-wrap {

    .slogan {
        //display: block;
        //font-size: 1em; // 3.8em;
        //text-align: left;
        //line-height: 1.1em;
        //margin-left: 0;
    }


}


.nav {

        display: inline-block;
        width: auto;

}


.nav {

       & > li {

            &:last-child {
                    // margin-right: 15px;
            }
        }



}




.wrap {
  width: 1040px;
}
