/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $lato;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}


.img-round-corners {
    border-radius: 1em;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}



/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.soliloquy-container .soliloquy-caption-inside {
    padding-bottom: 30px!important;
    font-size: 0.8em;
}


/*********************
HEADER STYLES
*********************/

.header {
        position: relative;
	background-color: $black;

        min-height: 500px;
            z-index: 1000;

        .backstretch {
            height: 500px;
        }
        
        #inner-header {
            position: relative;
            z-index: 10;
            
            /* background-color: $inky; */
          
            .logo-wrap {
                
                .logo-symbol {
                    position: relative;
                    display: block;
                    margin: 0 auto;
                    margin-top: 60px;
                    float: none;
                }

                    
            }
            
        }
        
        
        
        .bars {
            position: absolute;
            bottom: 20px;
            
            width: 100%;
        }
        
        .bars > hr {
            display: none;
            border: none;
            border-top: solid 5px $orange;
            margin: 0.7em auto;
            
        }
        
}

	#logo {
		margin: 0.75em 0;

		a {
			color: $white;
		}


	}
        
        .logo-text {
            background-position: center center;
        }
        
        #main-slider-nav-wrap {
            .slider-nav {
                float: right;
            }
        }
        
        
        .slogan {
            color: $orange;
            text-align: center;
            margin: 0 auto;
            font-size: 1em;
            font-weight: bold;
            /* text-shadow: 2px 2px 3px #000; */

            text-transform: uppercase;
        }
        

        .social-bar {
            position: relative;
            display: block;
            height: auto;
            float: none;
            margin-top: 50px;
            background: none;
            text-align: center;
            width: 100%;


            .networks {
                list-style: none;
                position: relative;
                display: inline-block;
                float: none;
                width: auto;
                margin: 0 auto;

                > li {
                    list-style: none;
                    display: block;
                    float: left;
                    margin-right: 6px;
                    //color: $turqoise;
                    background-color: darken($turquoise, 6%);
                    padding: 2px 6px;
                    border-radius: 3px;
                    margin-right: 10px;
                    @include transition(all 0.3s ease-in-out);
                    
                    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
                    
                    &:hover {
                        background-color: $turquoise;
                    }

                    .social-icon {
                        color: #fff;
                        font-size: 18px;
                        margin: 0 0;

                    }

                    .social-icon {
                        font-size: 22px;
                        margin: 0 0;

                    }

                }
            }
        }       

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.menu-toggle-button {
    position: relative;
    display: block;
    
    height: 30px;
    width: 50px;
    float: none;
    color: $orange;
    
    margin: 0 auto;
    
    background-color: $inky;
    border-radius: 0 0 0.4em 0.4em;
    z-index: 1200;
}

.mobile-nav-wrap {
    position: fixed;
    top: 0px;
    margin-top: 0px;
    width: 96%;
    z-index: 900;
    
    #main-nav {
        display: none;
        margin-top: 0px;

        top: 0px;
    }
    

    .social-bar {
        position: absolute;
        display: block;
        bottom: 50px;
        left: 250px;
        width: 30px;
        
        float: right;
        margin-top: 0px;


        li {
                float: left;
                background: none;
                padding: 0 0;
                &:hover {
                    background: none;
                }

                .social-icon {
                    color: $orange;
                    font-size: 22px;

                }
        }
       
    }
    

    .nav {
        background-image: url(../images/africa.png);
        background-size: 400px 400px;
        background-position: 140px 20px;
        background-repeat: no-repeat;
    }
    
}


.main-nav-wrap {
    display: none;
    
    #main-nav {
        margin-top: 20px;
    }
}

.nav {
	border-bottom: 0;
	margin: 0;
        
        background-color: $inky;
        margin-top: 0px;
        
        padding-left: 20px;
        padding-right: 20px;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;
                        font-size: 0.8em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {
                    

			li {

                                text-align: left;
                                
				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

            a {
                color: $orange;
            }

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 1.5em;
        
        
        hr {
            border-top: solid 4px $turquoise;
        }
}

		.hentry {
			background-color: $white;
			border-radius: 3px;
			margin-bottom: 1.5em;
			border: none;

			header {
				//border-bottom: 1px solid $light-gray;
				padding: 1.5em;
                                padding-bottom: 0;
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {
                        color: $inky;
                }
                
                .category-title {
                    padding: 1em;
                    padding-bottom: 0;
                }

                .entry-title {
                    border-top: solid 1px $orange;
                }

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}
                
                .gallery-thumbs {

                    li {
                        text-align: center;
                        display: inline-block;
                        margin-right: 10px;
                        &.current {
                            img {
                                    border-color: $orange;
                            }
                        }
                        
                        a {
                            text-decoration: none;
                            &:hover {
                                img {
                                    border-color: $orange;
                                }
                            }
                        }
                        img {
                            border-radius: 50%;
                            border: solid 2px transparent;
                        }
                        
                        span {
                            font-size: 0.8em;
                            text-transform: lowercase;
                        }
                    }

                }

		/* entry content */
		.entry-content {
			padding: 1.5em 1.5em 0;

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}
                        
                        .photo-quote, .quote-photo {
                            border-left: solid 4px $turquoise;
                        }


		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}
        
        
        
        
        #home-content-grid {
            > div {
                position: relative;
                height: 300px;
                
                > .inner-wrap {
                    position: relative;
                    display: block;
                    height: 95%;
                    width: 100%;
                    border: solid 1px #eee;
                    box-shadow: 0px 0px 5px black(0.1);
                    overflow: hidden;
                    border-radius: 0.5em;
                
                    background-size: cover;
                    background-position: top center;
                    margin: 0px 10px 0 0;
                    
                    > header {
                        position: relative;
                        display: block;
                        height: 40%;
                        background-color: black(0.6);
                        //border-radius: 0 0 0.5em 0.5em;
                        //border-bottom: solid 2px #fff;
                        padding: 10px 20px 20px 20px;
                        

                        //background-image: url(../images/africa.png);
                        background-size: 250px 250px;
                        background-position: 200px -80px;
                        background-repeat: no-repeat;

                        .title {
                            font-size: 1.2em;
                            padding: 0px 0px;
                            margin-top: 0px;
                            margin-bottom: 0.2em;
                            
                            color: $white;
                        }
                        
                        .text {
                            font-size: 0.8em;
                            line-height: 1.2em;
                            color: $white;
                            margin-bottom: 0.2em;
                        }
                        
                        .anchor {
                            display: inline-block;
                            font-size: 0.7em;
                            color: $orange;
                            text-decoration: none;
                            //border-bottom: double 4px $orange;
                            
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                    
                    > .body {
                        position: relative;
                        display: block;
                        height: 60%;
                        //background-color: #eee;
                        //border-radius: 0.5em 0.5em 0 0;
                        overflow: hidden;
                        
                        
                        .img {
                            width: 100%;
                            height: 100%;
                            background-size: 100%;
                            background-position: top center;
                            @include transition(all 0.1s ease-in-out);
                        }
                        
                        .tile-slider {
                            position: relative;
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                        
                        > a {
                            
                         text-decoration: none;
                         &:hover {
                            .img {
                                background-size: 110%;
                            }
                         }
                         
                        }
                    }
                }
            }
        }

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
    display: none;
}

.widget_wordpress-tweets {
    .widgettitle {
        &:after {
            
            content: 'a';
            font-family: 'Socicon'!important;
            position: relative;
            top: 2px;
            display: inline-block;
            font-size: 17px;
            float: right;
            padding-right: 10px;
            
        }
    }
}
	.widgettitle {}

	.widget {

		ul {

			li {
                            
                                font-size: 0.8em;
                                border-bottom: dotted 1px $gray;
                                padding-bottom: 10px;

				&:first-child {}

				&:last-child {}

                                a {
                                    color: darken($orange, 0);
                                    text-decoration: none;
                                }

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}
        
        .twitter-follow-button {
            margin-top: 20px;
        }

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $gray;
	color: $orange;
        
        font-size: 0.7em;
        
        .faux-shadow {
            display: block;
            position: relative;
            width: 100%;
            height: 10px;
            box-shadow: 0px 4px 4px -1px black(0.1);
            background-color: $white;
        }
        
                
        .social-bar {
            display: inline-block;
            position: relative;
            top: 40px;
            
            margin-top: 0px;
            margin-left: 20px;
            text-align: left;
            width: 100px;
            
            .networks {
                


                li {
                        float: left;
                        background: none;
                        padding: 0 0;
                        box-shadow: none;
                        &:hover {
                            background: none;
                        }

                        > .social-icon {
                            color: $orange;
                            font-size: 18px;

                        }
                }
                
            }
        }
}

#inner-footer {
    padding: 20px 0px;
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}

    .slider-nav {
        display: block;
        position: relative;

        ul {
            list-style: none;


            li {
                    float: left;
                    padding: 0px;
                    margin-top: 0px;
                    margin-right: 0px;
                    margin-bottom: 0px;
                    margin-left: 5px;

                    a {
                        text-decoration: none;
                        float: left;
                        background-color: #000;
                        height: 13px;
                        width: 13px;
                        text-indent: -9999px;
                        display: block;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        border-radius: 10px;
                    }
                    
                    a:active {
                        outline: none;
                    }

            }


            li.current {

                a {
                    background-color: $orange;
                }
                
            }

        }

    }
    
    
    
    
    
.footer-quote {
    display: block;
    
    width: 100%;
    height: 150px;
    /*
    position: absolute;
    top: -195px;
    right: 20px;
    margin-top: 45px;
    margin-bottom: 100px;
    */
    
    position: relative;
    float: none;
        
    /*
    &:before {
        content: ' ';
        position: absolute;
        top: -15px;
        left: -70px;
        display: none;
        height: 50px;
        width: 50px;
        background-image: url('../images/doublequote_orange.png');
        background-size: cover;
        background-position: center center;
        padding-right: 10px;
    }
    */
    
    > .slider {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        
        
    }

    p {
        //font-family: 'CommercialScript';
        font-style: oblique;
        font-size: 1.2em;
        line-height: 1.2em;
        text-align: right;
        // text-shadow: 0 0 4px rgba(0,0,0,1);
        white-space: normal;
        //border-right: double 15px $orange;
        padding: 20px 0px 15px 0px;
        margin: 5px 10px;
        text-align: center;
        
    }
    
}


