.logo {
    display: inline-block;
    background-image: url(/wp/wp-content/themes/optg/library/images/optg-logo.png);
    background-size: cover;
    
    
}


.logo.x200 {
    width: 200px;
    height: 200px;
}



.logo-symbol {
    display: inline-block;
    background-image: url(/wp/wp-content/themes/optg/library/images/optg-logo.png);
    background-size: cover;
}



.logo-symbol.w400 {
    width: 340px;
    height: 200px;
}

.logo-symbol.w200 {
    width: 220px;
    height: 126px;
}



.logo-symbol.w100 {
    width: 100px;
    height: 61px;
}


.logo-text {
    display: inline-block;
    /*
    background-image: url(/wp/wp-content/themes/optg/library/images/optg-logo-text.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    */
    width: 100%;
    height: 10px;
    
    margin-top: 0px;
}


.logo-text.w400 {
    width: 400px;
    height: 121px;
}